<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/fontello.css}">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&amp;subset=latin-ext" rel="stylesheet">

    <title>PanelOrderPage</title>
</head>
<body>

<div class="container-fluid">
    <div class="container">
        <div class="jumbotron">
            <div class="container text-center text-white jumbo-container">
                <h1 class="display-4" th:text="|Order ${order.id}|">Order</h1>
                <h3 class="display-6" th:text="|Status ${order.status}|">Order</h3>
                <a class="btn btn-primary d-block" th:href="@{/panel/orders}">Orders list</a>
            </div>
        </div>

        <table class="table table-sm table-dark">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
            <tr th:each="dish:${order.getDishes()}">
                <td th:text="${dish.id}"></td>
                <td th:text="${dish.name}"></td>
                <td th:text="${dish.price}"></td>
            </tr>
        </table>
        <h2 class="text-right text-white" th:text="|Total price: ${totalPrice}zł|"></h2>
        <th:block th:switch="${order.status}">
            <form action="#" th:action="@{|/panel/orders/${order.id}|}" method="post">
                <button th:case="${T(pl.lach.spring.takeawayapp.order.OrderStatus).NEW}" type="submit" class="btn btn-primary d-block">Order in progress</button>
                <button th:case="${T(pl.lach.spring.takeawayapp.order.OrderStatus).IN_PROGRESS}" type="submit" class="btn btn-primary d-block">Order complete</button>
            </form>
        </th:block>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>