body {
    background-color: #404040;
    font-family: 'Lato', sans-serif;
}

.jumbotron {
    background-size: cover;
    background: url('pizza-margherita.jpg') no-repeat;
}

.media-body {
    margin-left: 10px;
}

