<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/fontello.css}">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&amp;subset=latin-ext" rel="stylesheet">
</head>
<body>
<div id="logo">
    Welcome in the restaurant
</div>

<div id="dishes">
    <ul th:remove="all-but-first">
        <li th:each="dish: ${dishes}">
            <div class="dish-icon">
                <i class=" icon-food"></i>
            </div>
            <div class="dish-description">
                <div th:text="|${dish.name} ${dish.price}zł|"></div>
                <div th:text="${dish.shortDescription}"></div>
            </div>
            <div style="clear:both;"></div>
        </li>
    </ul>


</div>

</body>
</html>